/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: rgba(56,52,51, 1);
}

#menu-home {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: rgba(245,240,240, 1);
}

#menu-about {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: rgba(255,100,71, 1);
}

#menu-skillz {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: rgba(232,191,105, 1);
}

#menu-digital {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: rgba(217,255,86, 1);
}

#menu-prepress {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: rgba(67,232,143, 1);
}

#menu-contact {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: rgba(145,224,255, 1);
}

#menu li a{
	text-decoration:none;
	color: #383433;
}

#menu li{
    transition: all 0.5s ease-in-out;
}

#menu li.active{
	margin: 10px -20px 10px 0;
}

#menuv li.active a:hover{
	color: #fff;
}

#menu li:hover{
    border-left: solid 15px white;
    transition: all 0.2s ease-in-out;
}

#menu li:first-child:hover{
    border-left: solid 0px white;
}

#menu li a,
#menu li.active a{
    transition: all 0.5s ease-in-out;
	padding: 18px;
	display:block;
}

#menu li:first-child.active a{
    font-size: 0px;
	padding: 18px;
    height: 100%;    
}

#menu li.active a{
    padding: 0px;
    height: 80px;
	color: #383433;
    font-size: 800px;
    font-weight: bolder;
    overflow: hidden;
}

#menu{
	position:fixed;
	top:0;
	left:0;
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
	height: 120%;
	z-index: 70;
	width: 10%;
    min-width: 100px;
	padding: 0;
	margin:-30px 5px 0 0;
	background: rgba(56,52,51, 1);
    transform: rotate(8deg);
    box-shadow: 3px 3px 3px; 5px #000;
}

#wrapdatcontent{
    float: right;
    width: 95%;
}    

#filldatgap{
	position:fixed;
	top:0;
	left:0;
	height: 120%;
	z-index: 69;
	width: 10%;
    min-width: 100px;
	padding: 0;
	margin:-30px 0 0 -80px;
	background: rgba(56,52,51, 1);
    transform: rotate(8deg);
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
}    

.datcontent{
    width: 95%;
    height: 90%;
    margin-top: -2%;
	background: rgba(210,210,200, 0);
    margin-left: auto; 
    margin-right: auto;
}    

.datcol{
    width: 350px;
    height: 100%;
	background: rgba(255,255,255, 0.6);
    margin-right: 20px;
    float: left;
} 

.datrow{
    width: 720px;
    height: 30%;
	background: rgba(255,255,255, 0.6);
    margin-bottom: 20px;
    clear: both;
} 

.dathomerow{
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: bolder;
}

h2{
    font-size: 25px;
    line-height: 1.5em;
}

#motto{
    text-align: right;
    font-size: 18px;
    margin-right: -70%;
    color: rgba(56,52,51, 0.5);  
}

#datlogo {
    margin-left: auto;
    margin-right: auto;
}

.datwrap{
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    margin-left: -360px;
    overflow: hidden;
}