/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color: #212121;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #212121;
    background: #424242;
}

#menu-home {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: #fafafa;
}

#menu-about {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: #c41411;
}

#menu-skillz {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: #ef6c00;
}

#menu-digital {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: #aeea00;
}

#menu-prepress {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: #1de9b6 ;
}

#menu-contact {
	display:block;
	margin: 10px;
    font-weight: bolder;
	color: #fff;
	background: #0277bd;
}

#menu li a{
	text-decoration:none;
	color: rgba(245,245,240, 1);
}

#menu li{
    transition: all 0.5s ease-in-out;
}

#menu li.active{
	margin: 10px -20px 10px 0;
}

#menuv li.active a:hover{
	color: #fff;
}

#menu li:hover{
    border-left: solid 15px white;
    transition: all 0.2s ease-in-out;
}

#menu li:first-child:hover{
    border-left: solid 0px white;
}

#menu li.active:hover{
    border-left: solid 0px white;
}

#menu li a,
#menu li.active a{
    transition: all 0.5s ease-in-out;
	padding: 18px;
	display:block;
}

#menu li:first-child.active a{
    font-size: 0px;
	padding: 18px;
    height: 100%;
    line-height: 0;
}

#menu li.active a{
    padding: 0px;
    height: 80px;
	color: rgba(245,245,240, 1);
    font-size: 300px;
    line-height: 800px;
    font-weight: bolder;
    overflow: hidden;
    box-shadow: -3px 3px 1px rgba(0,0,0,0.3);
}

#menu{
	position:fixed;
	top:0;
	left:0;
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
	height: 120%;
	z-index: 70;
	width: 15%;
    min-width: 100px;
    max-width: 200px;
	padding: 0;
	margin:-30px 0 0 15px;
	background: #212121;
    transform: rotate(8deg);
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}

#wrapdatcontent{
    float: right;
    width: 100%;
}  

#filldatgap{
	position:fixed;
    bottom: 5%;
    right: 95%;
	height: 120%;
	z-index: 69;
	width: 15%;
    max-width: 300px;
    min-width: 100px;
	padding: 0;
	margin:0 0 0 0;
	background: #424242;
    transform: rotate(8deg);
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
}   

#accentdatgap{
	position:fixed;
	top:70%;
	right:85%;
	height: 100%;
	z-index: 68;
	width: 50%;
	padding: 0;
	background: #424242;
    transform: rotate(-20deg);
    transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}   

#accentdatgap2{
	position:fixed;
	top:45%;
	right:65%;
	height:100%;
	z-index: 67;
	width: 50%;
	padding: 0;
	margin: 600px 0 0 0;
	background: #616161;
    transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}   

#accentdatgap3{
	position:fixed;
	top:65%;
	right:65%;
	height:100%;
	z-index: 66;
	width: 50%;
	padding: 0;
	margin: 300px 0 0 0;
	background: #757575;
    transform: rotate(-70deg);
    transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}   
 

.datcontent{
    width: 95%;
    height: 90%;
	background: rgba(210,210,200, 0);
    margin: 0 auto; 
    text-align: center;
}    
.datwrap{
    display: inline-block;
    width: 640px;
    height: 100%;
    overflow: hidden;
    text-align: left;
}

.datcol{
    float: left;
    width: 300px;
    height: 60%;
    max-height: 450px;
	background: #efebe9;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    margin: 0 10px;
    color: rgba(33,33,33, 0.6);
}


.datrow{
    float: left;
    width: 620px;
    height: 30%;
    max-height: 300px;
	background: #efebe9;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    margin: 20px 10px;
    color: rgba(33,33,33, 0.6);
} 

.slidecontent{
    width: 95%;
    height: 100%;
    margin: 0 auto; 
    text-align: center;
}  


.contentspacer{
    display: none;
    width: 30%;
    height: 100%;
}


p{
    color: #757575;
    margin: 20px;
}
#logocontain{
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#homelogo{
    display: inline-block;
    width: 35%;
    max-width: 400px;
    text-align: center;
}

#mottocontain{
    margin: 0 auto;
    position: relative;
    text-align: right;
    margin-right: 5%;
}

#datmotto{
    display: inline-block;
    text-align: right;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-top: -50px;
    color: rgba(33,33,33, 0.3);
}






h1{
    margin-top: 20px;
    font-size: 50px;
    font-weight: bolder;
}

h2{
    font-size: 25px;
    line-height: 1.5em;
}


#datlogo {
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 150px;
    width: 100%;
}



